<%= turbo_frame_tag channel do %>
  <div class="container"
    data-url="<%= channel.link %>"
  >
    <p>
      <strong>Title:</strong>
      <%= channel.title %>
    </p>

    <p>
      <strong>Src:</strong>
      <%= channel.src %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= channel.description %>
    </p>

    <p>
      <strong>Last build date:</strong>
      <%= channel.last_build_date %>
    </p>

    <p>
      <strong>Unread:</strong>
      <%= channel.items.count %>
    </p>

    <p>
      <strong>URL:</strong>
      <%= channel.url %>
    </p>
  </div>
<% end %>
