<% if params[:short] == 'true' %>
  <div class="relative w-full">
    <div class="flex justify-between">
      <span class="left text-nowrap overflow-hidden ">
        <%= channel.title %>
      </span>
      <span class="right ml-2 px-2 py-1 font-semibold leading-none text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
        <%= channel.count_items(unread: true) %>
      </span>
    </div>
  </div>
<% else %>
  <div class="container">
    <p>
      <strong>Title:</strong>
      <%= channel.title %>
    </p>
    <p>
      <strong>Src:</strong>
      <%= channel.src %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= channel.description %>
    </p>

    <p>
      <strong>Last build date:</strong>
      <%= channel.last_build_date %>
    </p>

    <p>
      <strong>Unread:</strong>
      <%= channel.respond_to?(:count_items) ? channel.count_items : channel.items.count %>
      <span style="color: green"><%= notice %></span>
    </p>

    <p>
      <strong>URL:</strong>
      <%= channel.url %>
    </p>
  </div>
<% end %>
