<div id="<%= dom_id channel %>">
  <p>
    <strong>Title:</strong>
    <%= channel.title %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= channel.link %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= channel.description %>
  </p>

  <p>
    <strong>Last build date:</strong>
    <%= channel.last_build_date %>
  </p>

</div>
