<%= form_with(model: channel) do |form| %>
  <% if channel.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(channel.errors.count, "error") %> prohibited this channel from being saved:</h2>

      <ul>
        <% channel.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, class: 'block text-sm' %>
    <%= form.text_field :title, class: 'input-text' %>
  </div>

  <div>
    <%= form.label :src, class: 'block text-sm' %>
    <%= form.text_field :src, class: 'input-text' %>
  </div>

  <div>
    <%= form.label :description, class: 'block text-sm' %>
    <%= form.text_area :description, class: 'textarea' %>
  </div>

  <div>
    <%= form.label :last_build_date, class: 'block text-sm' %>
    <%= form.datetime_field :last_build_date, class: 'input_text' %>
  </div>

  <div>
    <%= form.label :url, class: 'block text-sm' %>
    <%= form.text_field :url, class: 'input-text' %>
  </div>

  <div>
    <%= form.label :favicon, class: 'block text-sm' %>
    <%= form.file_field :favicon, multiple: false, class: 'block w-full text-sm text-slate-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-violet-50 file:text-violet-700 hover:file:bg-violet-100' %>
    <div>
      <% if form.object.favicon.attached? %>
        <%= image_tag form.object.favicon, width: 16, height: 16, class: 'inline' %>

        <%= form.check_box :remove_favicon %>
        <%= form.label :remove_favicon, "Remove favicon" %>
      <% else %>
        (no favicon)
      <% end %>

        <%= form.check_box :fetch_favicon %>
        <%= form.label :fetch_favicon, "Fetch favicon" %>
    </div>
  </div>

  <div class="my-4">
    <%= form.submit nil, class: 'button-notice' %>
  </div>
<% end %>
