<header class="contaner">
  <h2>Channels</h2>
</header>

<nav class="container">
  <%= link_to link_to 'New channel', new_channel_path, 'data-turbo-frame' => turbo_frame_if_turbo_frame_request('modal') %>
</nav>

<hr>

<%= turbo_frame_tag 'channels' do %>
<div class="flex flex-col h-full"
  data-controller="scroll"
  data-action="
    keydown.up->scroll#cancelWindowScrolling
    keydown.down->scroll#cancelWindowScrolling
    keydown.space->scroll#cancelWindowScrolling
  "
>
  <ul class="container" data-controller="channels">
    <li tabindex="-1" class="container"
      data-action="
        keyup.up->channels#selectPrevItem
        keyup.down->channels#selectNextItem
      "
      data-channels-target="item"
    >
      <div class="container overflow-hidden text-nowrap text-xs">
        <a href="<%= trash_path %>" 
          class="pl-2 pr-1 py-0.5 block no-underline text-inherit hover:no-underline hover:text-inherit"
          data-turbo-frame="<%= turbo_frame_if_turbo_frame_request('items') %>"
          data-action="click->channels#changeSelected"
        >
          <div class="relative w-full">
            <div class="flex justify-between">
              <span class="left text-nowrap overflow-hidden ">
                Trash
              </span>
              <span class="right ml-2 px-2 py-1 font-semibold leading-none">
                &nbsp;
              </span>
            </div>
          </div>
        </a>
      </div>
    </li>

    <% @channels.each do |channel| %>
      <li tabindex="-1" class="container focus:outline-none"
        data-action="
          keyup.up->channels#selectPrevItem
          keyup.down->channels#selectNextItem
          keyup.enter->channels#openUrl
        "
        data-channels-target="item"
        data-url="<%= channel.url %>"
      >
        <div class="container overflow-hidden text-nowrap text-xs">
          <a href="<%= channel_items_path(channel) %>"
            class="pl-2 pr-1 py-0.5 block no-underline text-inherit hover:no-underline hover:text-inherit"
            data-turbo-frame="<%= turbo_frame_if_turbo_frame_request('items') %>"
            data-action="click->channels#changeSelected"
          >
            <%=
              turbo_frame_tag(dom_id(channel),
                data: { 'url-for-refresh' => fetch_channel_path(channel, short: true), 'method' => 'patch' }
              ) do
            %>
              <%= render channel %>
            <% end %>
          </a>

          <%= capture_unless_turbo_frame_request do %>
            <p>
              <%=
                link_to(
                  'Refresh channel', fetch_channel_path(channel),
                  data: { turbo_method: :patch, turbo_frame: dom_id(channel) },
                )
              %>
              |
              <%= link_to('Show this channel', channel, data: { turbo_frame: '_top' }) %>
              |
              <%=
                link_to('items of this channel', channel_items_path(channel), data: {
                  turbo_frame: '_top',
                })
              %>
            </p>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
<% end %>
