<header class="contaner">
  <h2>Channels</h2>
</header>

<div id="channels" class="contaner">
  <% @channels.each do |channel| %>
    <%= render channel %>

    <p>
      <%= link_to "Refresh channel", fetch_channel_path(channel), data: { turbo_method: :patch, turbo_frame: dom_id(channel) } %> |
      <%= link_to "Show this channel", channel %> |
      <%= link_to "items of this channel", channel_items_path(channel) %>
    </p>

  <% end %>
</div>

<hr>

<div class="contaner">
  <p>
    <%= link_to "Trash", trash_channels_path %>
  </p>
</div>

<hr>

<div class="contaner">
  <%= link_to "New channel", new_channel_path %>
</div>
