<header class="contaner">
  <h2>Channels</h2>
</header>

<nav class="container">
  <%= link_to link_to 'New channel', new_channel_path, 'data-turbo-frame' => turbo_frame_if_turbo_frame_request('modal') %>
</nav>

<hr>

<%= turbo_frame_tag 'channels' do %>
<div class="flex flex-col h-full">
  <%# there are fixed items %>
  <ul id="trash" class="container">
    <li tabindex="-1" class="container box-border border-2 border-transparent focus:border-gray-400 text-xs">
      <div class="container pl-2 pr-1 overflow-hidden text-nowrap">
        <a href="<%= trash_path %>" data-turbo-frame="<%= turbo_frame_if_turbo_frame_request('items') %>">
          <div class="relative w-full">
            <div class="flex justify-between">
              <span class="left text-nowrap overflow-hidden ">
                Trash
              </span>
              <span class="right ml-2 px-2 py-1 font-semibold leading-none">
                &nbsp;
              </span>
            </div>
          </div>
        </a>
      </div>
    </li>
    <hr class="p-0 m-0">
  </ul>

  <ul id="channel_list" class="container" data-controller="keyevent">
    <% @channels.each do |channel| %>
      <%# FIXME: box-border が効かない？ため border-transparent を指定しています %>
      <li tabindex="-1" class="container box-border border-2 border-transparent focus:border-gray-400 text-xs"
        data-model="item"
        data-action="
          keydown->keyevent#handlerKeydown
          keyup->keyevent#handlerKeyup
        "
        data-url="<%= channel.url %>"
      >
        <div class="container pl-2 pr-1 overflow-hidden text-nowrap">
          <a href="<%= channel_items_path(channel) %>" data-turbo-frame="<%= turbo_frame_if_turbo_frame_request('items') %>">
            <%= turbo_frame_tag(dom_id(channel), data: { 'url-for-refresh' => fetch_channel_path(channel) } ) do %>
              <%= render channel %>
            <% end %>
          </a>

          <%= capture_unless_turbo_frame_request do %>
            <p>
              <%=
                link_to(
                  'Refresh channel', fetch_channel_path(channel),
                  data: { turbo_method: :patch, turbo_frame: dom_id(channel) },
                )
              %>
              |
              <%= link_to('Show this channel', channel, data: { turbo_frame: '_top' }) %>
              |
              <%=
                link_to('items of this channel', channel_items_path(channel), data: {
                  listen_keyevent: 'right',
                  turbo_frame: '_top',
                })
              %>
            </p>
          <% end %>
        </div>
        <hr class="p-0 m-0">
      </li>
    <% end %>
  </ul>
</div>
<% end %>
