<header class="contaner">
  <h2>Show channel</h2>
</header>

<%= render @channel %>

<p>
  <%= link_to "Refresh channel", fetch_channel_path(@channel), data: { turbo_method: :patch, turbo_frame: dom_id(@channel) } %> |
  <%= link_to "items of this channel", channel_items_path(@channel) %>
</p>

<hr>

<div class="contaner">
  <%= link_to "Edit this channel", edit_channel_path(@channel) %> |
  <%= link_to "Back to channels", channels_path %>

  <%= button_to "Destroy this channel", @channel, method: :delete, data: { 'turbo-confirm': 'Are you sure?' }, class: 'button-danger' %>
</div>
