<% unless turbo_frame_request? %>
  <header class="contaner">
    <h2>Show channel</h2>
  </header>

  <%= render @channel %>

<% else %>
  <turbo-frame id="modal">
    <div role="dialog" tabindex="-1" class="fixed inset-0 z-30 flex items-center justify-center w-full h-screen p-2"
      data-controller="modal"
      data-action="
        turbo:submit-end->modal#hideOnSubmit
        keydown.esc->modal#hide
      "
    >
      <%= button_to(nil, nil,
        type: :button,
        method: :get,
        form: { data: {action: "modal#hide"} },
        class: "fixed inset-0 block w-full h-screen cursor-default bg-gray-900/30"
      ) %>

      <div class="relative z-20 w-full max-w-2xl max-h-screen overflow-y-auto bg-white shadow-lg rounded-md p-8">
        <h2>Created channel</h2>

        <%= render @channel %>

        <%= button_tag('Close',
          type: :button,
          method: :get,
          data: { action: "modal#hide" },
          class: "px-3 py-1 text-sm leading-6 font-medium text-gray-700 bg-white border border-gray-200 rounded-md hover:border-gray-300"
        ) %>
      </div>
    </div>
  </turbo-frame>
<% end %>

<hr>

<p>
  <%= link_to "Refresh channel", fetch_channel_path(@channel), data: { turbo_method: :patch, turbo_frame: dom_id(@channel) } %> |
  <%= link_to "items of this channel", channel_items_path(@channel) %>
</p>

<hr>

<div class="contaner">
  <%= link_to "Edit this channel", edit_channel_path(@channel) %> |
  <%= link_to "Back to channels", channels_path %>

  <%= button_to "Destroy this channel", @channel, method: :delete, data: { 'turbo-confirm': 'Are you sure?' }, class: 'button-danger' %>
</div>
