<div class="flex flex-col h-full">
  <ul class="container"
    data-controller="articles"
    data-action="
      keydown.enter->articles#openUrl
      keydown.enter->articles#handlerMakeItemRead
      keydown.space->articles#handlerMakeItemRead:prevent
      keydown.space->articles#selectUnreadItem:prevent
      keydown.backspace->articles#deleteItem
      keydown.backspace->articles#selectNextItem
      dblclick->articles#openUrl
      dblclick->articles#handlerMakeItemRead
    "
  >
    <% @articles.each do |article| %>
      <li id="<%= dom_id article %>" tabindex="0" class="container even:bg-gray-100 focus:outline-none"
        data-subscription="<%= article.subscription_id %>"
        data-articles-target="item"
        data-url-source="<%= article.url %>"
        data-unread="<%= article.unread? ? 'true' : 'false' %>"
        data-url-read="<%= read_subscription_article_path(article.subscription, article) %>"
        data-url-unread="<%= unread_subscription_article_path(article.subscription, article) %>"
        data-url-disable="<%= disable_subscription_article_path(article.subscription, article) %>"
      >
        <div class="container overflow-hidden text-nowrap text-xs">
            <div class="container flex flex-row text-xs">

              <button class="w-6 flex-shrink-0 flex justify-center items-center cursor-pointer"
                data-action="
                  click->articles#handlerToggleReadStatus
                  click->articles#focusLastSelectedLi
                "
              >
                <%= article.unread? ? 'â—' : 'ã€€' %>
              </button>

              <div class="container flex-grow">
                <%=
                  link_to(subscription_article_path(article.subscription, article),
                    'tabindex' => '-1',
                    'data-turbo-frame' => turbo_frame_if_turbo_frame_request('contents'),
                    'class' => 'pl-2 pr-1 py-0.5 block no-underline text-inherit hover:no-underline hover:text-inherit focus:outline-none',
                    'data-action' => 'click->articles#changeSelected'
                  ) do
                %>
                  <p class="overflow-hidden text-nowrap">
                    <span><%= article.title %></span>
                  </p>
                  <p class="text-xs text-gray-400 overflow-hidden text-nowrap">
                    <%= article.pub_date %>
                  </p>
                <% end %>
              </div>

            </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
