<% if params[:short] == 'true' %>
  <div class="relative w-full">
    <div class="flex justify-between">
      <span class="left text-nowrap overflow-hidden">
        <% if subscription.favicon.attached? %>
          <%= image_tag subscription.favicon, width: 16, height: 16, class: 'inline' %>
          <%= subscription.title %>
        <% else %>
          <%= default_favicon %>
          <%= subscription.title %>
        <% end %>
      </span>
      <span class="right ml-2 px-2 py-1 font-semibold leading-none text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
        <%= subscription.count_articles(unread: true) %>
      </span>
    </div>
  </div>
<% else %>
  <div class="container">
    <p>
      <strong>Title:</strong>
      <%= subscription.title %>
    </p>
    <p>
      <strong>Src:</strong>
      <%= subscription.src %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= subscription.description %>
    </p>

    <p>
      <strong>Last build date:</strong>
      <%= subscription.last_build_date %>
    </p>

    <p>
      <strong>Unread:</strong>
      <%= subscription.respond_to?(:count_articles) ? subscription.count_articles : subscription.articles.count %>
      <span style="color: green"><%= notice %></span>
    </p>

    <p>
      <strong>URL:</strong>
      <%= subscription.url %>
    </p>

    <p>
      <strong>Favicon:</strong>
        <% if subscription.favicon.attached? %>
          <%= image_tag subscription.favicon, width: 16, height: 16, class: 'inline' %>
        <% else %>
          <%= default_favicon %>
        <% end %>
      </p>
  </div>
<% end %>
