<%= form_with(model: [item.channel, item]) do |form| %>
  <% if item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, class: 'block text-sm' %>
    <%= form.text_field :title, class: 'input-text' %>
  </div>

  <div>
    <%= form.label :link, class: 'block text-sm' %>
    <%= form.text_field :link, class: 'input-text' %>
  </div>

  <div>
    <%= form.label :description, class: 'block text-sm' %>
    <%= form.text_area :description, class: 'textarea' %>
  </div>

  <div class="flex mt-4 text-sm">
    <%= form.check_box :unread, class: 'input-checkbox' %>
    <%= form.label :unread, class: 'block text-sm ml-2' %>
  </div>

  <div class="flex mt-4 text-sm">
    <%= form.check_box :disabled, class: 'input-checkbox' %>
    <%= form.label :disabled, class: 'block text-sm ml-2' %>
  </div>

  <div class="my-4">
    <%= form.submit nil, class: 'button-notice' %>
  </div>
<% end %>
