<div class="flex flex-col h-full"
  data-controller="scroll"
  data-action="
    keydown.up->scroll#cancelWindowScrolling
    keydown.down->scroll#cancelWindowScrolling
    keydown.space->scroll#cancelWindowScrolling
  "
>
  <ul class="container" data-controller="items">
    <% @items.each do |item| %>
      <li id="<%= dom_id item %>" tabindex="0" class="container even:bg-gray-100 focus:outline-none"
        data-action="
          keyup.up->items#selectPrevItem:stop
          keyup.down->items#selectNextItem:stop
          keyup.enter->items#openUrl
          keyup.space->items#handlerMakeItemRead
          keyup.space->items#selectUnreadItem
          keyup.backspace->items#deleteItem
          keyup.backspace->items#selectNextItem
          dblclick->items#openUrl
          dblclick->items#handlerMakeItemRead
        "
        data-channel="<%= item.channel_id %>"
        data-items-target="item"
        data-url="<%= item.url %>"
        data-unread="<%= item.unread? ? 'true' : 'false' %>"
        data-url-read="<%= read_channel_item_path(item.channel, item) %>"
        data-url-unread="<%= unread_channel_item_path(item.channel, item) %>"
        data-url-disable="<%= disable_channel_item_path(item.channel, item) %>"
      >
        <div class="container overflow-hidden text-nowrap text-xs">
            <div class="container flex flex-row text-xs items-center">

              <button class="w-6 flex-shrink-0 flex justify-center items-center cursor-pointer"
                data-action="
                  click->items#handlerToggleReadStatus
                  click->items#focusLastSelectedLi
                "
              >
                <%= item.unread? ? 'â—' : 'ã€€' %>
              </button>

              <div class="container flex-grow">
                <%=
                  link_to(channel_item_path(item.channel, item),
                    'tabindex' => '-1',
                    'data-turbo-frame' => turbo_frame_if_turbo_frame_request('contents'),
                    'class' => 'pl-2 pr-1 py-0.5 block no-underline text-inherit hover:no-underline hover:text-inherit focus:outline-none',
                    'data-action' => 'click->items#changeSelected'
                  ) do
                %>
                  <p class="overflow-hidden text-nowrap">
                    <span><%= item.title %></span>
                  </p>
                  <p class="text-xs text-gray-400 overflow-hidden text-nowrap">
                    <%= item.pub_date %>
                  </p>
                <% end %>
              </div>

            </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
