<header class="contaner">
  <h2>Items</h2>
</header>

<nav class="container">
  <%= link_to "New item", new_channel_item_path %> |
  <%= link_to "Show this channel", channel_path(@channel) %> |
  <%= link_to "Back to channels", channels_path %>
</nav>

<hr>

<%= turbo_frame_tag 'items' do %>
  <%= render 'list' %>
<% end %>