<header class="contaner">
  <h2>Items</h2>
</header>

<nav class="container">
  <%= link_to "New item", new_channel_item_path %> |
  <%= link_to "Show this channel", channel_path(@channel) %> |
  <%= link_to "Back to channels", channels_path %>
</nav>

<hr>

<%= turbo_frame_tag 'items' do %>
  <ul id="items" class="container" data-controller="keyevent">
    <% @items.each do |item| %>
      <li id="<%= dom_id item %>" tabindex="-1" class="container box-border border-2 border-transparent focus:border-gray-400 text-xs"
        data-model="item"
        data-action="keydown->keyevent#handlerKeydown keyup->keyevent#handlerKeyup"
        data-url="<%= item.url %>"
      >
        <div class="container px-2 flex flex-row">
          <div class="w-4 flex-shrink-0"><%= item.unread? ? 'â—' : 'ã€€' %></div>
          <div class="container flex-grow">
            <%=
              link_to(channel_item_path(item.channel, item),
                'tabindex' => '-1',
                'data-listen-keyevent' => 'right',
                'data-turbo-frame' => turbo_frame_if_turbo_frame_request('contents'),
                'class' => 'no-underline text-inherit hover:no-underline hover:text-inherit',
              ) do
            %>
              <p class="overflow-hidden text-nowrap">
                <span><%= item.title %></span>
              </p>
              <p class="text-xs text-gray-400 overflow-hidden text-nowrap">
                <%= item.pub_date %>
              </p>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
