<p style="color: green"><%= notice %></p>

<h1>Items</h1>

<ul id="items">
  <% @items.each do |item| %>
    <li id="<%= dom_id item %>">
      <%= item.title %>
      <p>
        <%= link_to "Show this item", channel_item_path(item.channel, item) %>
      </p>
    </li>
  <% end %>
</ul>

<%= link_to "New item", new_channel_item_path %>


<div>
  <%= link_to "Show this channel", channel_path(@channel) %> |
  <%= link_to "Back to channels", channels_path %>
</div>