<%# TODO: turbo_frame_tag の中は app/views/items/index.html とまったく同じなので統合してください %>

<header class="contaner">
  <h2>Disabled items</h2>
</header>

<nav class="container">
  <%= link_to "Back to channels", channels_path %>
</nav>

<hr>

<%= turbo_frame_tag 'items' do %>
  <div class="flex flex-col h-full"
    data-controller="selected-li scroll"
    data-action="
      keydown.up->scroll#cancelWindowScrolling
      keydown.down->scroll#cancelWindowScrolling
      keydown.space->scroll#cancelWindowScrolling
    "
  >
    <ul class="container">
      <% @items.each do |item| %>
        <li id="<%= dom_id item %>" tabindex="-1" class="container even:bg-gray-100 focus:outline-none"
          data-action="
            keyup.up->selected-li#selectPrevItem
            keyup.down->selected-li#selectNextItem
            keyup.enter->selected-li#openUrl
            keyup.space->selected-li#selectUnreadItem
          "
          data-selected-li-target="item"
          data-url="<%= item.url %>"
          data-unread="<%= item.unread? ? 'true' : 'false' %>"
        >
          <div class="container overflow-hidden text-nowrap text-xs">
            <%=
              link_to(channel_item_path(item.channel, item),
                'tabindex' => '-1',
                'data-turbo-frame' => turbo_frame_if_turbo_frame_request('contents'),
                'class' => 'pl-2 pr-1 py-0.5 block no-underline text-inherit hover:no-underline hover:text-inherit',
                'data-action' => 'click->selected-li#changeSelected'
              ) do
            %>
              <div class="container flex flex-row text-xs items-center">
                <div class="w-6 flex-shrink-0"><%= item.unread? ? '●' : '　' %></div>
                <div class="container flex-grow">
                  <p class="overflow-hidden text-nowrap">
                    <span><%= item.title %></span>
                  </p>
                  <p class="text-xs text-gray-400 overflow-hidden text-nowrap">
                    <%= item.pub_date %>
                  </p>
                </div>
              </div>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
