<!DOCTYPE html>
<html>
  <head>
    <title>Renkon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="contaner mx-4 px-4">
      <p style="color: green"><%= notice %></p>
    </div>

    <main class="container m-4 p-4">
      <%= yield %>
    </main>
  </body>
</html>
